* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

:root {
    --primary-color: #DA1D25;
}



/* Header section start  */
header {
    height: 70px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}

header .logo {
    margin-left: 70px;
}

header .logo img {
    height: 80%;
    margin-top: 9px;
}

header nav {
    padding-top: 25px;
}

header nav ul {}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    /* background: red; */
    padding: 10px 15px;
    font-size: 20px;
    color: white;

}

header nav ul li a.active {
    color: var(--primary-color);

}

header .auth {
    margin-top: 15px;
    margin-right: 70px;
}

header .auth button {
    border: none;
    padding: 10px 30px;
    font-size: 17px;
    color: white;
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

/* Header section end  */


/* Banner section end  */
.banner {
    height: 80vh;
    background: url(../image/ser.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.banner .content {
    width: 70%;
}

.banner .bg-shadow {
    height: 80vh;
    background: #000000c2;
}

.banner .bg-shadow h1 {
    font-size: 100px;
    text-transform: uppercase;
    padding-top: 70px;
}

.banner .bg-shadow h2 {
    font-size: 70px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.banner .bg-shadow h2 span {
    color: white;
}

.banner .bg-shadow p {
    font-size: 30px;
}

.banner .bg-shadow .d-flex {
    padding-top: 50px;
}

.banner .bg-shadow .d-flex button {
    border: none;
    padding: 10px 30px;
    font-size: 17px;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
    text-transform: uppercase;
    margin-right: 50px;
}

.banner .bg-shadow .d-flex span:nth-child(2) {
    color: var(--primary-color);
}

.banner .bg-shadow .d-flex span {
    font-size: 20px;
}

@media only screen and (max-width: 1300px) {
    header nav ul li a {
        /* background: red; */
        padding: 10px 5px;
        font-size: 20px;
        color: white;
    }
}

@media only screen and (max-width: 1200px) {
    .banner .bg-shadow h1 {
        font-size: 80px;
    }

    .banner .bg-shadow h2 {
        font-size: 50px;
    }

    header nav {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .banner .bg-shadow h1 {
        font-size: 70px;
    }

    .banner .bg-shadow h2 {
        font-size: 40px;
    }

    .banner .bg-shadow p {
        font-size: 20px;
    }

    header nav {
        display: none;
    }
}

/* Banner section end  */


/* section team */
.section {
    height: 90vh;
    background: #08001E;
    color: white;
    padding-top: 60px;
}

.section .row {
    display: flex;
    justify-content: space-between;
}

.section .row .col-lg-3 {
    border: 1px solid red;
    text-align: center;
}

.section .row .col-lg-3 .andro_artist {}

.section .row .col-lg-3 .andro_artist img {
    border-radius: 50%;
}


.section .row .col-lg-3 .andro_artist-body {
    background: #150D29;
    padding: 20px;
}

.section .row .col-lg-3 .andro_artist-body span {
    color: #BBBBBB;
}

.section .row .col-lg-3 .andro_artist-body h5 {
    font-size: 24px;
    font-weight: 700px;
}

.section .row .col-lg-3 .andro_artist-body h5 a {
    color: white;
}

.section .row .col-lg-3 .andro_artist-body ul {
    padding-top: 20px;
}

.section .row .col-lg-3 .andro_artist-body ul li {
    display: inline-block;

}

.section .row .col-lg-3 .andro_artist-body ul li a {
    background: #DA1D25;
    padding: 10px;
    border-radius: 50%;
}

.section .row .col-lg-3 .andro_artist-body ul li:nth-child(1) a {
    background: #3B579D;
    padding: 10px 14px;
}

.section .row .col-lg-3 .andro_artist-body ul li:nth-child(2) a {
    background: #8134AF;
    padding: 10px 12px;
}

.section .row .col-lg-3 .andro_artist-body ul li:nth-child(3) a {
    background: #FF7F34;
    padding: 10px 9px;
}

.section .row .col-lg-3 .andro_artist-body ul li a i {
    color: white;
}

.section .row .col-lg-3 .andro_artist-body ul li a i:nth-child(1) {}

/* section team */